/* Image feed styling */
#feed-imgs{
	display:grid;
	grid-template-columns:repeat(auto-fill,minmax(300px, 1fr));
	grid-auto-rows:300px;
	
	padding: 10px;
}

#feed-imgs-content{
	display:flex;
	justify-content: center;
	align-items: center;
	
	overflow: hidden;
}

#feed-imgs-content > a{
	width: 100%;
	height: 100%;
}

#feed-imgs-content > img{
	max-width: 100%;
	height: 100%;
	object-fit: cover;
}
